.header{
    padding-top: 0;
    width: 100vw;
    height: 100vh;
    color: white;
    background-image: url("../images/contact1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -50vw
}
.contactTitleHeader h1{
    font-family: 'Kaushan Script', cursive;
    font-size: 10vw;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 35vw;
    text-shadow: 1px 1px 1px black;
}