
html{
    height: 100%;
}
body{
    margin: 0;
    height: 100%;
}
h2{
    font-family: 'Roboto', sans-serif;
}
.header{
    padding-top: 0;
    width: 105vw;
    height: 100vh;
    color: white;
    background-image: url("../images/taco1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.navBar{
    position: absolute;
    left: 5vw;
    top: 6.5vw;
    display: flex;
    width: 100vw;
}
#restaurantName{
    font-family: 'Kaushan Script', cursive;
    font-size: 6vw;
    margin: 0;
    flex: 1.5;
    position: relative;
    left: 12vw;
    text-shadow: 1px 1px 1px black;
}

#sombreroIcon{
    position: absolute;
   left: 26.5vw;
    width: 10%;
    top: 7.5vw;
    height: 100%;
    border: 1px solid white;
    border-radius: 50%
}
.nav{
    flex: 1.5;
}
.hamburgerBackground{
    border: 1px solid white;
    padding: 2vw;
    border-radius: 50%;
    position: fixed;
    right: 15vw;
    transition: all 0.3s;
    top: 10vw;
}
.nav i{
    transition: all 0.3s;
}
.navigationLinks{
    border: 1px solid rgba(242, 242, 242, 0.507);
    border-radius: 10%;
    position: fixed;
    top: 20vw;
    opacity: 0;
    background-color: rgba(242, 242, 242, 0.207);
    right: 4vw;
    transition: all 0.4s;
}
.navigationLinks ul{
   padding-left: 8vw;
   padding-right: 10vw;
}
.navigationLinks a{
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 3vw;
}
.reservationPart{
    width: 105vw;
    display: flex;
    justify-content: center;
   
    
}
#reservationImg{
    flex: 1.1;
    background-image: url("../images/restaurant1.jpg");
    background-size: cover;

}
.reservationPart div{
    flex: 1;
    text-align: center;
    color: rgba(158, 158, 158, 0.993);
    font-family: 'Roboto', sans-serif;
    font-size: 3vw;
}
.reservationPart h3{
    font-family: 'Kaushan Script', cursive;
    color: rgba(0, 0, 0, 0.733);
}
.reservationPart button{
    font-family: 'Roboto', sans-serif;
    font-size: 3vw;
    color: rgb(197, 169, 41);
    border: 1px solid rgba(197, 169, 41, 0.3);
    background-color: white;
    border-radius: 0%;
    padding: 3vw;
    cursor: pointer;
    margin-bottom: 2vw;
}
.aboutPart{
    display: flex;
}
.aboutPart div{
    flex: 1;
    text-align: center;
    font-size: 3vw;
    font-family: 'Roboto', sans-serif;
    color: rgba(158, 158, 158, 0.993);
}
.aboutPart h3{
    font-family: 'Kaushan Script', cursive;
    color: rgba(0, 0, 0, 0.733);
}
#aboutImg{
    flex: 1;
    background-image: url("../images/drink1.jpeg");
    background-size: cover;
    background-repeat: no-repeat;   
}
.ourSpecialities{
    background-image: url("../images/ourSpecialities.jpg");
    background-size: cover;
    height: 100vw;
    width: 105vw;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
}
.ourSpecialities h2{
    flex: 1;    
}
.specialities{
    width: 105vw;
}
.specialityItem{
    display: flex;
}
.specialityItem div{
    flex: 1;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: rgba(158, 158, 158, 0.993);
}
.specialityItem h3{
    color: rgba(0, 0, 0, 0.719);
}
.specialityItem h4{
    color: rgb(197, 169, 41);
}
.specialityItem p{
    font-size: 3.5vw;
}
#TacoImg{
    flex: 1;
    background-image: url("../images/speciality1.jpg");
    background-size: cover; 
}
#BurritoImg{
    flex: 1;
    background-image: url("../images/speciality2.jpg");
    background-size: cover; 
}
#NachoImg{
    flex: 1;
    background-image: url("../images/speciality3.jpg");
    background-size: cover; 
}
#RandomFoodImg{
    flex: 1;
    background-image: url("../images/speciality4.jpg");
    background-size: cover; 
}
.bellowSpecialities{
    width: 105vw;
    background-image: url("../images/belowSpecialities.jpg");
    height: 100vw;
    background-size: cover;
}
.menu{
    font-family: 'Roboto', sans-serif; 
    width: 105vw;
}
.menu h3{
    margin: 0 auto;
    font-family: 'Kaushan Script', cursive;
    color: rgba(0, 0, 0, 0.533);
    border-bottom: 1px solid rgba(0, 0, 0, 0.533);
   width: 14.5vw
}
.menu h4{
    text-align: center;
    font-size: 3.5vw;
    color: rgb(197, 169, 41);
}
.menuItem{
    margin-left: 2.5vw;
}
.menuItem h5{
    margin-bottom: 0;
}
.itemDescription{
    margin-left: 1vw;
    display: flex;
}
.itemDescription p{
    flex: 2.5;
    font-size: 3.5vw;
}
.itemPrice{
    flex: 1;
    font-family: 'Kaushan Script', cursive;
    align-self: center
}
@media (min-width: 768px){
    .navigationLinks{
        border: 1px solid rgba(242, 242, 242, 0.507);
        border-radius: 10%;
        position: fixed;
        top: 21.2vw;
        opacity: 0;
        background-color: rgba(242, 242, 242, 0.207);
        right: 4vw;
        transition: all 0.4s;
    }
    .hamburgerBackground{
        border: 1px solid white;
        padding: 3vw;
        border-radius: 50%;
        position: fixed;
        right: 15vw;
        transition: all 0.3s;
        top: 10vw;
    }
    .nav i{
        font-size: 5vw;
        transition: all 0.3s;
    }
    .ourSpecialities h2{
        font-size: 7vw;   
    }
    .specialityItem h4{
        font-size: 3vw;
    }
    .specialityItem h3{
        font-size: 4vw;
    }
    .menu h3{
        font-size: 6vw;
    }
    .menuItem h5{
        font-size: 4vw;
    }
    .itemPrice{
        font-size: 5vw;
    }
}