
html{
    height: 100%;
}
body{
    margin: 0;
    height: 100%;
}
h2{
    font-family: 'Roboto', sans-serif;
}
.header{
    padding-top: 0;
    width: 105vw;
    height: 100vh;
    color: white;
    background-image: url("../images/taco1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.navBar{
    position: absolute;
    left: 5vw;
    top: 6.5vw;
    display: flex;
    width: 100vw;
}
#restaurantName{
    font-family: 'Kaushan Script', cursive;
    font-size: 6vw;
    margin: 0;
    flex: 1.5;
    position: relative;
    left: 12vw;
    text-shadow: 1px 1px 1px black;
}
.restaurantNameHeader h1{
    font-family: 'Kaushan Script', cursive;
    font-size: 10vw;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 18vw;
    text-shadow: 1px 1px 1px black;
}
.restaurantNameHeader h3{
    font-family: 'Roboto', sans-serif;
    font-size: 6vw;
    top: 55%;
    left: 16vw;
    text-shadow: 1px 1px 1px black;
    position: absolute;
}
#sombreroIcon{
    position: absolute;
   left: 26.5vw;
    width: 10%;
    top: 7.5vw;
    height: 100%;
    border: 1px solid white;
    border-radius: 50%
}
.nav{
    flex: 1.5;
}
.hamburgerBackground{
    border: 1px solid white;
    padding: 2vw;
    border-radius: 50%;
    position: fixed;
    right: 15vw;
    transition: all 0.3s;
    top: 10vw;
}
.nav i{
    transition: all 0.3s;
}
.navigationLinks{
    border: 1px solid rgba(242, 242, 242, 0.507);
    border-radius: 10%;
    position: fixed;
    top: 20vw;
    opacity: 0;
    background-color: rgba(242, 242, 242, 0.207);
    right: 4vw;
    transition: all 0.4s;
}
.navigationLinks ul{
   padding-left: 8vw;
   padding-right: 10vw;
}
.navigationLinks a{
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 3vw;
}
.reservationPart{
    width: 105vw;
    display: flex;
    justify-content: center;
   
    
}
#reservationImg{
    flex: 1.1;
    background-image: url("../images/restaurant1.jpg");
    background-size: cover;

}
.reservationPart div{
    flex: 1;
    text-align: center;
    color: rgba(158, 158, 158, 0.993);
    font-family: 'Roboto', sans-serif;
    font-size: 3vw;
}
.reservationPart h3{
    font-family: 'Kaushan Script', cursive;
    color: rgba(0, 0, 0, 0.733);
}
.reservationPart button{
    font-family: 'Roboto', sans-serif;
    font-size: 3vw;
    color: rgb(197, 169, 41);
    border: 1px solid rgba(197, 169, 41, 0.3);
    background-color: white;
    border-radius: 0%;
    padding: 3vw;
    cursor: pointer;
    margin-bottom: 2vw;
}
.aboutPart{
    display: flex;
}
.aboutPart div{
    flex: 1;
    text-align: center;
    font-size: 3vw;
    font-family: 'Roboto', sans-serif;
    color: rgba(158, 158, 158, 0.993);
}
.aboutPart h3{
    font-family: 'Kaushan Script', cursive;
    color: rgba(0, 0, 0, 0.733);
}
#aboutImg{
    flex: 1;
    background-image: url("../images/drink1.jpeg");
    background-size: cover;
    background-repeat: no-repeat;   
}
.ourSpecialities{
    background-image: url("../images/ourSpecialities.jpg");
    background-size: cover;
    height: 100vw;
    width: 105vw;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
}
.ourSpecialities h2{
    flex: 1;    
}
.specialities{
    width: 105vw;
}
.specialityItem{
    display: flex;
}
.specialityItem div{
    flex: 1;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: rgba(158, 158, 158, 0.993);
}
.specialityItem h3{
    color: rgba(0, 0, 0, 0.719);
}
.specialityItem h4{
    color: rgb(197, 169, 41);
}
.specialityItem p{
    font-size: 3.5vw;
}
#TacoImg{
    flex: 1;
    background-image: url("../images/speciality1.jpg");
    background-size: cover; 
}
#BurritoImg{
    flex: 1;
    background-image: url("../images/speciality2.jpg");
    background-size: cover; 
}
#NachoImg{
    flex: 1;
    background-image: url("../images/speciality3.jpg");
    background-size: cover; 
}
#RandomFoodImg{
    flex: 1;
    background-image: url("../images/speciality4.jpg");
    background-size: cover; 
}
.bellowSpecialities{
    width: 105vw;
    background-image: url("../images/belowSpecialities.jpg");
    height: 100vw;
    background-size: cover;
}
.menu{
    font-family: 'Roboto', sans-serif; 
    width: 105vw;
}
.menu h3{
    margin: 0 auto;
    font-family: 'Kaushan Script', cursive;
    color: rgba(0, 0, 0, 0.533);
    border-bottom: 1px solid rgba(0, 0, 0, 0.533);
   width: 14.5vw
}
.menu h4{
    text-align: center;
    font-size: 3.5vw;
    color: rgb(197, 169, 41);
}
.menuItem{
    margin-left: 2.5vw;
}
.menuItem h5{
    margin-bottom: 0;
}
.itemDescription{
    margin-left: 1vw;
    display: flex;
}
.itemDescription p{
    flex: 2.5;
    font-size: 3.5vw;
}
.itemPrice{
    flex: 1;
    font-family: 'Kaushan Script', cursive;
    align-self: center
}
@media (min-width: 768px){
    .navigationLinks{
        border: 1px solid rgba(242, 242, 242, 0.507);
        border-radius: 10%;
        position: fixed;
        top: 21.2vw;
        opacity: 0;
        background-color: rgba(242, 242, 242, 0.207);
        right: 4vw;
        transition: all 0.4s;
    }
    .hamburgerBackground{
        border: 1px solid white;
        padding: 3vw;
        border-radius: 50%;
        position: fixed;
        right: 15vw;
        transition: all 0.3s;
        top: 10vw;
    }
    .nav i{
        font-size: 5vw;
        transition: all 0.3s;
    }
    .ourSpecialities h2{
        font-size: 7vw;   
    }
    .specialityItem h4{
        font-size: 3vw;
    }
    .specialityItem h3{
        font-size: 4vw;
    }
    .menu h3{
        font-size: 6vw;
    }
    .menuItem h5{
        font-size: 4vw;
    }
    .itemPrice{
        font-size: 5vw;
    }
}
@media (min-width: 1280px){
    
    #restaurantName{
        font-family: 'Kaushan Script', cursive;
        font-size: 3vw;
        margin: 0;
        flex: 1.5;
        position: relative;
        left: 2vw;
        text-shadow: 1px 1px 1px black;
    }
    
    #sombreroIcon{
        position: absolute;
       left: 8.5vw;
        width: 5%;
        top: 4.5vw;
        height: 100%;
        border: 1px solid white;
        border-radius: 50%
    }
    .nav{
        flex: 1.5;
    }
    .hamburgerBackground{
        display: none;
    }
    .nav i{
        transition: all 0.3s;
    }
    .navigationLinks{
        border: none;
        border-radius: 10%;
        position: absolute;
        top: 20vw;
        opacity: 1;
        background-color: rgba(242, 242, 242, 0);
        right: 1vw;
        transition: all 0.4s;
        top: 0vw;
    }
    .navigationLinks ul{
       padding-left: 8vw;
       padding-right: 10vw;
       display: flex;
       list-style: none;
    }
    .navigationLinks a{
        flex: 1;
        font-family: 'Roboto', sans-serif;
        color: white;
        text-decoration: none;
        font-size: 2vw;
        margin-right: 3vw;
        
    }
    
    .header{
        padding-top: 0;
        width: 100vw;
        height: 200vh;
        color: white;
        background-image: url("../images/taco1.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    .restaurantNameHeader h1{
        font-family: 'Kaushan Script', cursive;
        font-size: 10vw;
        margin: 0;
        position: absolute;
        top: 60%;
        left: 18vw;
        text-shadow: 1px 1px 1px black;
    }
    .restaurantNameHeader h3{
        font-family: 'Roboto', sans-serif;
        font-size: 6vw;
        top: 70%;
        left: 16vw;
        text-shadow: 1px 1px 1px black;
        position: absolute;
    }
    .reservationPart{
        width: 70vw;
        margin: 0 auto;
    }
    .aboutPart{
        width: 70vw;
        margin: 0 auto;
    }
    #reservationImg{
        flex: 1.4;
        flex-basis: 1vw;
    }
    .reservationPart div{
        background: white;
        flex: 1;
        text-align: center;
        color: rgba(158, 158, 158, 0.993);
        font-family: 'Roboto', sans-serif;
        font-size: 1.4vw;
        
    }
    .reservationPart h3{
        font-size: 3.5vw;
    }
    .reservationPart button{
        font-weight: bold;
        font-size: 1.7vw;
        border: 3.5px solid rgba(197, 169, 41, 0.3);
        padding: 2vw;
        margin-bottom: 2vw;
    }
    .aboutPart div{
        background: white;
        text-align: center;
        font-size: 1.7vw;
        font-family: 'Roboto', sans-serif;
        color: rgba(158, 158, 158, 0.993);
    }
    .aboutPart h3{
        font-size: 3.5vw;
    }
    #aboutImg{
        flex: 0.7
    }
    #reservationAndAboutPart{
        background: #f2f2f2;
        height: 42vw;
    }
    .reservationPart{
        position: absolute;
       left: 15vw;
       top: 120vw;
    }
    .aboutPart{
        position: absolute;
        left: 15vw;
        top: 146.5vw;
    }
    .ourSpecialities{
        width: 100vw;
    }
    .ourSpecialities h2{
        font-size: 4vw;
    }
    .specialities{
        width: 100vw;
        height: 16vw;
        background-color: #f2f2f2;
    }
    .specialities p{
        font-size: 1vw;
    }
    .specialities h3{
        font-size: 1.5vw;
    }
    .specialities h4{
        font-size: 1vw;
    }
    
    #firstTwoSpecialities{
        display: flex;
        position: absolute;
        left: 20vw;
        background: white;
        top: 262vw;
        
    }
    #lastTwoSpecialities{
        display: flex;
        position: absolute;
        top: 274.1vw;
        background: white;
        left: 20vw;
        width: 60vw;
    }
    #prelastSpecialityItem{
        flex: 0.913;
    }
    #lastSpecialityItem{
        flex: 1;
    }
    #NachoImg{
        flex: 0.99
    }
    #RandomFoodImg{
        flex: 0.99
    }
    .bellowSpecialities{
        width: 100vw;
    }
    .menu{
        width: 100vw;
    }
    .navBar{
        width: 95vw;
    }
    
    
}
@media (min-width: 1440px){
    .reservationPart{
        position: absolute;
       left: 15vw;
       top: 108vw;
    }
    .aboutPart{
        position: absolute;
        left: 15vw;
        top: 134.5vw;
    }
    #firstTwoSpecialities{
        top: 250vw;
        
    }
    #lastTwoSpecialities{
        top: 262.1vw;
        left: 20vw;
        width: 60vw;
    }
}