.header{
    padding-top: 0;
    width: 100vw;
    height: 100vh;
    color: white;
    background-image: url("../images/news1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.newsTitleHeader h1{
    font-family: 'Kaushan Script', cursive;
    font-size: 10vw;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 40vw;
    text-shadow: 1px 1px 1px black;
}
.newsSection{
    height: 100vh;
    display: flex;
    flex-wrap: wrap
}

.newsArticle{
    margin: 0 auto;
    background-size: 200px
}
.newsArticle a{
    height: 270px;
    width: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 5vh auto;
    border: 1px solid rgba(0, 0, 0, 0.301);
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}
.articleTitle{
    margin-top: 180px;
    margin-left: 2vw;
    color: rgb(5, 5, 206);
    font-size: 20px;
}
.articleSource{
    margin-top: 1vh;
    margin-left: 2vw;
    color: rgb(34, 165, 16)
}
@media (min-width: 768px){
    .articleTitle{
        margin-top: 180px;
        font-size: 20px;
    }
    .articleSource{
        font-size: 15px
    }
}
@media (min-width: 1280px){

    .newsTitleHeader h1{
        left: 37vw;
    }
    .newsArticle a{
        border-radius: 8px;
    }
}
@media (min-width: 1920px){
    .header{
        height: 850px;
    }
    .newsSection{
        height: 680px;
    }
    
}