.header{
    padding-top: 0;
    width: 100vw;
    height: 100vh;
    color: white;
    background-image: url("../images/recipes1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.recipesTitleHeader h1{
    font-family: 'Kaushan Script', cursive;
    font-size: 10vw;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 35vw;
    text-shadow: 1px 1px 1px black;
}

#sendBtn{
    border: 1px solid rgb(197, 169, 41);
    background-color: rgb(243, 207, 44);
    color: white; 
    height: 10vw;
    font-family: 'Roboto', sans-serif;
    cursor: pointer
    
}
.divForm{
    height: 35vh;
}
.divForm form{
    display: flex;
    margin-left: 20%;
    font-family: 'Roboto', sans-serif;
}
.recipeHeader{
    font-size: 4.8vw;
}
.divForm form input{
    border: 0.5px solid rgba(128, 128, 128, 0.562);
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 3vw;
    width: 50%;
    border-radius: 8px;
    font-size: 18px;
    height: 40px;
    margin-top: 7.5px;

}
.recipeHeader{
    margin: 5vw auto 0 auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: rgba(0, 0, 0, 0.514)
}
@media (min-width: 768px){
    .divForm{
        height: 35vh;
    }
    .divForm form{
        margin-left: 30.5%;
    }
    .divForm form input{
        border-radius: 8px;
        font-size: 18px;
        height: 40px;
        margin-top: 7.5px;

    }
    .recipeHeader{
        font-size: 4vw
    }
}
@media (min-width: 1280px){
    .divForm form{
        margin-left: 27.5%;
    }
    .recipeHeader{
        font-size: 3vw
    }
}
@media (min-width: 1600px) {
    .header{
        height: 130vh
    }
    #sendBtn{
        height: 5vw;
        font-size: 2vw;
    }
    .divForm form input{ 
        font-size: 15px;
        height: 5vw
    
    }
    .divForm form{
        margin-left: 15.5%;
    }
    .recipeHeader{
        font-size: 2vw;
        margin-top: 10vw
    }
}