
.header{
    padding-top: 0;
    width: 100vw;
    height: 100vh;
    color: white;
    background-image: url("../images/shop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 40% 0%
}
.shopMenu{
    height: 290vh;
    width: 100vw;
    background-color: #f2f2f2;
    display: inline-block
}
.itemImg{
    width: 50vw;
    height: 40vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 7%;
}
.shopItem{
    border: 1px solid rgba(0, 0, 0, 0.192);
    border-radius: 7%;
    width: 50%;
    position: block;
    margin: 0 auto;
    margin-top: 10vw;
    height: 50vw;
    border-bottom-left-radius: 4%;
    border-bottom-right-radius: 4%;
}

.itemButtons{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.itemPrice{
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    color: rgba(0, 0, 0, 0.589);
}
.itemButtons * {
    flex: 1;
}
.itemButtons input{
    padding: 1.8vw;
    margin-left: 2.5vw;
    padding-left: 0;
    border-radius: 5px;
    text-align: center;
    border: 0.5px solid rgba(128, 128, 128, 0.192);

}
.itemButtons button{
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #5C9A4F;
    padding: 2vw;
    margin-left: 3vw;
    border: none;
    border-radius: 5px;
}
@media (min-width: 768px){
    .shopMenu{
        height: 330vh
    }
    .itemButtons input{
        padding: 2vw;
        margin-left: 2.5vw;
        padding-left: 0;
        border-radius: 9px;
        text-align: center;
        border: 0.5px solid rgba(128, 128, 128, 0.192);
        font-size: 4vw
    }
    .itemButtons button{
        font-family: 'Roboto', sans-serif;
        color: white;
        background-color: #5C9A4F;
        padding: 2.8vw;
        margin-left: 3vw;
        border: none;
        border-radius: 9px;
        font-size: 3.2vw
    }
}
@media (min-width: 1280px){  
    .header{
        padding-top: 0;
        width: 100vw;
<<<<<<< HEAD
        
=======
        height: 190vh;
        color: white;
>>>>>>> 4721547d29dfcb5b914e455e3460246f2a85eb8d
        background-image: url("../images/shop.jpg");
        background-size: auto;
        background-repeat: no-repeat;
    }
    .shopRow{
        display: flex;
        flex-wrap: wrap;
    }
    .itemImg{
        width: 30vw;
        height: 25vw;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 8%;
    }
    .shopItem{
        border: 1px solid rgba(0, 0, 0, 0.192);
        border-radius: 7%;
        width: 30%;
        position: block;
        margin: 0 auto;
        margin-top: 10vw;
        margin-left: 10vw;
        height: 30vw;
        border-bottom-left-radius: 4%;
        border-bottom-right-radius: 4%;
    }
    
    .itemButtons * {
        flex: 1;
    }
    .itemButtons input{
        font-size: 2vw;
        padding: 1.1vw
    
    }
    .itemButtons button{
        padding: 1.1vw;
        font-size: 2vw;
    }
    .shopMenu{
        height: 300vh
    }
}