html{
    height: 100%;
}
body{
    margin: 0;
    height: 100%;
}
h2{
    font-family: 'Roboto', sans-serif;
}
#logoLink{
    text-decoration: none;
    color: white;
}
.header{
    padding-top: 0;
    width: 100vw;
    height: 100vh;
    color: white;
    background-image: url("../images/shop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
   
    background-position: 40% 0%
}
.navBar{
    position: absolute;
    left: 5vw;
    top: 6.5vw;
    display: flex;
    width: 95vw;
}
#restaurantName{
    font-family: 'Kaushan Script', cursive;
    font-size: 6vw;
    margin: 0;
    flex: 1.5;
    position: relative;
    left: 12vw;
    text-shadow: 1px 1px 1px black;
    text-decoration: none;
    color: white;
}
.restaurantNameHeader h1{
    font-family: 'Kaushan Script', cursive;
    font-size: 10vw;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 18vw;
    text-shadow: 1px 1px 1px black;
}
.restaurantNameHeader h3{
    font-family: 'Roboto', sans-serif;
    font-size: 6vw;
    top: 55%;
    left: 16vw;
    text-shadow: 1px 1px 1px black;
    position: absolute;
}
#sombreroIcon{
    position: absolute;
   left: 26.5vw;
    width: 10%;
    top: 7.5vw;
    height: 100%;
    border: 1px solid white;
    border-radius: 50%
}
.nav{
    flex: 1.5;
}
.hamburgerBackground{
    border: 1px solid white;
    padding: 2vw;
    border-radius: 50%;
    position: fixed;
    right: 15vw;
    transition: all 0.3s;
    top: 10vw;
}
.nav i{
    transition: all 0.3s;
}
.navigationLinks{
    border: 1px solid rgba(242, 242, 242, 0.507);
    border-radius: 10%;
    position: fixed;
    top: 20vw;
    opacity: 0;
    background-color: rgba(242, 242, 242, 0.207);
    right: 4vw;
    transition: all 0.4s;
}
.navigationLinks ul{
   padding-left: 8vw;
   padding-right: 10vw;
}
.navigationLinks a{
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 3vw;
}
.shopMenu{
    height: 100vh;
    width: 100vw;
    background-color: #f2f2f2;
    display: inline-block
}
#shopLink{
    text-decoration: underline;
}
#flagImg{
    background-image: url("../images/souvenir1.jpg");
    width: 50vw;
    height: 40vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 7%;
}
#mugImg{
    background-image: url("../images/souvenir2.jpg");
    width: 50vw;
    height: 40vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.shopItem{
    border: 1px solid rgba(0, 0, 0, 0.192);
    border-radius: 7%;
    width: 50%;
    position: block;
    margin: 0 auto;
    margin-top: 10vw;
    height: 50vw;
}

.itemButtons{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.itemPrice{
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    color: rgba(0, 0, 0, 0.589);
}
.itemButtons * {
    flex: 1;
}
.itemButtons input{
    padding: 2vw;
    margin: 1vw;
    margin-left: 2.5vw;
    padding-left: 0;
    border-radius: 10%;
    text-align: center;
    border: 0.5px solid rgba(128, 128, 128, 0.192);

}
.itemButtons button{
    color: white;
    background-color: #5C9A4F;
    padding: 2vw;
    margin-left: 5vw;
}
@media (min-width: 768px){
    .navigationLinks{
        border: 1px solid rgba(242, 242, 242, 0.507);
        border-radius: 10%;
        position: fixed;
        top: 21.2vw;
        opacity: 0;
        background-color: rgba(242, 242, 242, 0.207);
        right: 4vw;
        transition: all 0.4s;
    }
    .hamburgerBackground{
        border: 1px solid white;
        padding: 3vw;
        border-radius: 50%;
        position: fixed;
        right: 15vw;
        transition: all 0.3s;
        top: 10vw;
    }
    .nav i{
        font-size: 5vw;
        transition: all 0.3s;
    }
}
@media (min-width: 1280px){
    
    #restaurantName{
        font-family: 'Kaushan Script', cursive;
        font-size: 3vw;
        margin: 0;
        flex: 1.5;
        position: relative;
        left: 2vw;
        text-shadow: 1px 1px 1px black;
    }
    
    #sombreroIcon{
        position: absolute;
       left: 8.5vw;
        width: 5%;
        top: 4.5vw;
        height: 100%;
        border: 1px solid white;
        border-radius: 50%
    }
    .nav{
        flex: 1.5;
    }
    .hamburgerBackground{
        display: none;
    }
    .nav i{
        transition: all 0.3s;
    }
    .navigationLinks{
        border: none;
        border-radius: 10%;
        position: absolute;
        top: 20vw;
        opacity: 1;
        background-color: rgba(242, 242, 242, 0);
        right: 1vw;
        transition: all 0.4s;
        top: 0vw;
    }
    .navigationLinks ul{
       padding-left: 8vw;
       padding-right: 10vw;
       display: flex;
       list-style: none;
    }
    .navigationLinks a{
        flex: 1;
        font-family: 'Roboto', sans-serif;
        color: white;
        text-decoration: none;
        font-size: 2vw;
        margin-right: 3vw;
        
    }
    
    .header{
        padding-top: 0;
        width: 100vw;
        height: 200vh;
        color: white;
        background-image: url("../images/shop.jpg");
        background-size: auto;
        background-repeat: no-repeat;
    }
}